@import "bootstrap";
@import "variables";

body {
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    @include varsity;
    color: $red;
}
p {
    color: darken($red, 20%);
}
.svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0 0 113.85% 0;
    svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}
